
# Install latest Fire version from git - https://github.com/google/python-fire
git+https://github.com/google/python-fire

# Beautiful Soup 4 - HTML/XML parser
bs4

# Playwright - Browser automation library
playwright
